<h1>Editing User</h1>

<%= render 'form', user: @user %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>

<div class="pageContainer">

    
    <div class="pageContainer">

        <!-- First name -->
        <div class="singleSettingContainer">

            <p>Current First Name: <%= maxDist %> Placeholder</p>
            <form>

                <input type="text">
                <button type="button">Submit</button>

            </form>

        </div>

        <!-- Last name  -->
        <div class="singleSettingContainer">

            <p>Current Last Name: Placeholder</p>
            <form>

                <input type="text">
                <button type="button">Submit</button>

            </form>

        </div>

        <!-- Home Address -->
        <div class="singleSettingContainer">

            <p>Current Default Home Address: Placeholder</p>
            <form>

                <input type="text">
                <button type="button">Submit</button>

            </form>

        </div>

        <!-- First name -->
        <div class="singleSettingContainer">

            <p>Current Default Destination: Placeholder</p>
            <form>

                <input type="text">
                <button type="button">Submit</button>

            </form>

        </div>

        <!-- Max Distance -->
        <div class="singleSettingContainer">

            <p>Current Maximum Distance Away: Placeholder Miles</p>
            <form>

                <input type="text">
                <button type="button">Submit</button>

            </form>

        </div>

        <!-- Car Model -->
        <div class="singleSettingContainer">

            <p>Current Car Model: Placeholder</p>
            <form>

                <input type="text">
                <button type="button">Submit</button>

            </form>

        </div>

        <!-- Car Seats -->
        <div class="singleSettingContainer">

            <p>Current # of Car Seats: Placeholder</p>
            <form>

                <input type="text">
                <button type="button">Submit</button>

            </form>

        </div>

    </div>

</div>