<h1>Editing User</h1>

<%= render 'form', user: @user %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>

<div class="pageContainer">
    
    <div class="pageContainer">

        <div>

        <!-- First name -->
        <div class="singleSettingContainer">

            <p>Current First Name: <% current_user.fname %> </p>
            <form>

                <input type="text">
                <button type="button">Submit</button>

            </form>

        </div>

        <!-- Last name  -->
        <div class="singleSettingContainer">

            <p>Current Last Name: <% current_user.lname %> </p>
            <form>

                <input type="text">
                <button type="button">Submit</button>

            </form>

        </div>

        <!-- Home Address -->
        <div class="singleSettingContainer">

            <p>Current Default Home Address: <% current_user.homeAdr %> </p>
            <form>

                <input type="text">
                <button type="button">Submit</button>

            </form>

        </div>

        <!-- Target Address -->
        <div class="singleSettingContainer">

            <p>Current Default Destination: <% current_user.destAdr %> </p>
            <form>

                <input type="text">
                <button type="button">Submit</button>

            </form>

        </div>

        <!-- Max Distance -->
        <div class="singleSettingContainer">

            <p>Current Maximum Distance Away: <% current_user.maxDist %> Miles</p>
            <form>

                <input type="text">
                <button type="button">Submit</button>

            </form>

        </div>

        <!-- Car Model -->
        <div class="singleSettingContainer">

            <p>Current Car Model: <% current_user.car_id_id %> </p>
            <form>

                <input type="text">
                <button type="button">Submit</button>
s
            </form>

        </div>

        <!-- Car Seats -->
        <div class="singleSettingContainer">

            <p>Current # of Car Seats: <% current_user.car_id_id %> </p>
            <form>

                <input type="text">
                <button type="button">Submit</button>

            </form>

        </div>

    </div>

</div>