<h1>Editing User</h1>

<%= render 'form', user: @user %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>

<div class="pageContainer">

    <div class="singleSettingContainer">
        
        <form>
            <input type="text">
        </form>
    </div>

</div>