<h1>Editing User</h1>

<%= render 'form', user: @user %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>

<%# First Name %>
<p>Current First Name: </p>
<form>
    New First Name: <input type="text" name="fname"><br>
</form>
<button text="Submit">

<%# Last Name %>
<p>Current Last Name: </p>
<form>
    New Last Name: <input type="text" name="lname"><br>
</form>
<button text="Submit">

<%# Home Address %>
<p>Current Default Home Address: </p>
<form>
    New Home Address: <input type="text" name="homeAddress"><br>
</form>
<button text="Submit">

<%# Destination Address %>
<p>Current Default Destination Address: </p>
<form>
    New Destination Address: <input type="text" name="destinationAddress"><br>
</form>
<button text="Submit">

<%# Max Distance %>
<p>Current Maximum Distance (in miles): </p>
<form>
    New Maximum Distance (in miles): <input type="text" name="maxDistance"><br>
</form>
<button text="Submit">

<%# Car Model %>
<p>Current Car Model: </p>
<form>
    New Car Model <input type="text" name="carModel"><br>
</form>
<button text="Submit">

<%# Car Seats %>
<p>Current # of Car Seats: </p>
<form>
    New # of Car Seats <input type="text" name="numCarSeats"><br>
</form>
<button text="Submit">

test code 